* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    padding: 20px;
    width: 100%;
    background-color: rgb(112, 149, 208);
}

nav > .nav-contents {
    margin-right: auto;
    display: inline;
}

nav > .nav-contents > a, nav > a {
    margin: 5px;
    color: rgb(235, 240, 255);
    text-decoration: none;
    font-size: 1.1em;
}

nav > .nav-contents > a.selected {
    font-weight: bold;
}

nav > a.main {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 15px;
}

nav > .nav-contents > a:hover {
    color: white;
}